header{
    background-color: #2874f0;
}
  .dropdown{
    padding-bottom: 5px;
  }
.logo{
  margin-left:50px;
}
.input{
  background-color: aliceblue;
  border-radius: 10px;
  margin-left:-230px;
}
.input input{
  border: none;
}
.input span{
  background-color: white;
  border: none;
}

.dropdown-menu li{
    padding: 0px;
    margin: 0px;
}
.custom-small{
  font-size: 14px;
  font-weight: bold;
}
