{% extends 'e_kart/layout/base.html'%}
{% load static %}


{% block extra_css%}
<link rel="stylesheet" href="{% static 'css/cart.css' %}">
{% endblock extra_css%}

{% block title %}
    shopping online | Flipkart
{% endblock title%}


{% block content %}

<section>
    <div class="container  main mt-3">
        <div class="row  left">
            <div class="col-12 title-left ">
                <h4 class="mb-3 mt-1 ms-4"> My cart ({{cart|length}})</h4>
             <hr style="border-color: #b8bfc2;" >
             </div>
             <div class="address">
                    <p>delivery Address </p>
                    <button class="">Change</button>
             </div>

             <div class="left-main">
             {%for item in cart %}
             <div class="col-12 mb-3 inner">
                 <div class="image " >
                     <a href="#"><img src="{{item.product.product_image.url}}" alt=""></a>
                 </div>

                 <div class="content ms-3">
                     <div class="title">
                         <p>{{item.product.name}}</p>
                        <p class="">Seller: {{item.product.vendor}}</p>

                    <div class="price">
                    <p class=""><s>Rs. {{item.product.original_price | stringformat:'d'}}</s></p>
                    <p class="h5 " id="amt">Rs. {{item.product.selling_price | stringformat:'d'}}</p>
                    </div>

                    <div class="buttons">
                         <div class="input-group increment text-center"  >
                            Qty: {{item.product_qty}}
                            </div>
                        <a href="{% url 'ekart:remove_cart' item.id %}" class="text-decoration-none text-dark fs-5 ">Remove</a>
                    </div>
                     </div>
                     <div class="btn">
                            <p>Delivery by Tue,| <s>₹70</s> <span class="text-success">Free</span></p>
                     </div>
                 </div>
                 
             </div>
             <hr style="border-color: #b8bfc2;">
             {%endfor%}
            </div>
           
        </div>

        <div class="container right">
            <div class="row">
                <div class="col">
                    <div class="profile">
                        <div class="p">
                            Price Details
                        </div>
                        <div class="net">
                            {{result}}
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

    </div>

</section>

<script>
    const nodes=document.querySelectorAll('#amt');
    const arr=Array.from(nodes);
    const result=arr.reduce((acc,curr)=>{
        return acc += Number(curr.textContent)
    },0);
    document.getElementById("net").innerHTML="Rs: "+result;
</script>

{% endblock content %}